	/*Animaciones*/
@-webkit-keyframes amination{
	0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@keyframes amination{
	0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
@-webkit-keyframes amination2{
	0%   {transform:rotate(0deg);}
    100% {transform:rotate(-360deg);}
}

@keyframes amination2{
	0%   {transform:rotate(0deg);}
    100% {transform:rotate(-360deg);}
}
@-webkit-keyframes amination3{
	0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@keyframes amination3{
	0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes flechaAnimationP1{
	0% 		{transform:rotate(0deg);}
	20% 	{transform:rotate(10deg);}
	40% 	{transform:rotate(0deg);}
	60% 	{transform:rotate(-10deg);}
	80% 	{transform:rotate(0deg);}
	100% 	{transform:rotate(0deg);}
	
}	

@keyframes flechaAnimationP1{
	0% 		{transform:rotate(0deg);}
	20% 	{transform:rotate(10deg);}
	40% 	{transform:rotate(0deg);}
	60% 	{transform:rotate(-10deg);}
	80% 	{transform:rotate(0deg);}
	100% 	{transform:rotate(0deg);}
}

@-webkit-keyframes flechaAnimationP2{
	0% 		{bottom: 0;}
	25% 	{bottom: 7px;}
	540% 	{bottom: 0;}
	75% 	{bottom: 7px;}
	100% 	{bottom: 0;}
}	

@keyframes flechaAnimationP2{
	0% 		{bottom: 0;}
	25% 	{bottom: 7px;}
	50% 	{bottom: 0;}
	75% 	{bottom: 7px;}
	100% 	{bottom: 0;}
}

@media screen and (max-width:1200px){

	 	

		.Titulos{
			display: inline-block; 
            top: 6.5em; 
            position: relative; 
 		}

	
}

@media screen and (min-width:1200px){


	
}



 		.arrow{
 			position: absolute;
			bottom: 0;
			/* margin: 0 auto; */
			width: 100%;
			text-align: center;
			-webkit-animation:flechaAnimationP2 5s ;
			-moz-animation:flechaAnimationP2 5s ;
			-ms-animation:flechaAnimationP2 5s ;
			-o-animation:flechaAnimationP2 5s ;
			animation:flechaAnimationP2 5s ;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-iteration-count: infinite;
			-ms-animation-iteration-count: infinite;
			-o-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			
 		}
 		.arrow figure img{
 			width: 200px;
			opacity: 0.7;
 		}
		.arrow figure{
			width: 80%;
			display: inline-block;
			-webkit-animation:flechaAnimationP1 5s ;
			-moz-animation:flechaAnimationP1 5s ;
			-ms-animation:flechaAnimationP1 5s ;
			-o-animation:flechaAnimationP1 5s ;
			animation:flechaAnimationP1 5s ;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-iteration-count: infinite;
			-ms-animation-iteration-count: infinite;
			-o-animation-iteration-count: infinite;
			animation-iteration-count: infinite; 
		}
	body{
			
		}
		/*Cambios En Google*/
		.Contenedor-logoPadre{
			width: 100%;
			padding: 5% 0 13% 0;
			margin: 0;
			text-align: center;
		}
		.Contenedor-logoHijo{
			display: inline-block;
			width: 80%;
			/* text-align: center; */
			padding: 5% 5% 5% 5%;
		}
		.Contenedor-logo{
			display: inline-block;
			/* position: relative; */
			/* width: 80%; */
			/* position: inherit; */
			position: inherit;
			/* display: block; */
			width: 140px;
			height: 140px;
		}



	.Contenedor-logo figure{
		
		position: absolute;
		
		
	}
	.Contenedor-logo figure img{
			
	}
	.Contenedor-titulo h1{
		font-size: 5em;
		color: white;
	}

	.contenedor-logos {
		display: table;
		width: 100%;
		height: 50%;
		max-width: 40%;
		margin: 0 auto;
		}



		.contenedor-itemlogos {
		    display: table-cell;
		    vertical-align: middle;
		}
		.Contenedor-logoImg{

		
		}
		#Contenedor, body, html {
				height: 100%;
				}
		.contenedorScroll {
				overflow-y: scroll;
				overflow-x: hidden;
				width: 100%;
				height: 100%;
				margin: auto;
	}

	#Contenedor.contenedorScroll .contenidoScroll {
				width: 100%;
				height: auto;
		}
		.Contenedor-tema {
						
		}
			
		

	
		.Contenedor-logoTitulo{
			font-size: 5em;
		color: #fff;
		margin: 20px 0 0;
		padding: 0;
		text-align: center;
		}

	
	header{
		margin: 0;
		width: 100%;
		width: 100%;
		height: 80px;
		z-index: 1100;
		
	}
	nav{
		background: #070708;
		padding: 0 5em 0 0.5em;
		position: relative;
		text-align: right;
		opacity: 0.5;
	}
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
}
	nav ul li {
		display: inline-block;
		margin: 0;
	}
	nav ul li a {
		color: white;
		display: block;
		padding: 1.5em;
		text-decoration: none;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}	
	nav ul li a:hover {
		background: #344B54;
	}

	
	 .Logo-parte1 img{
		
		-webkit-animation: amination 5s;
		-moz-animation: amination 5s;
		-ms-animation: amination 5s;
		-o-animation: amination 5s;
		animation: amination 5s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		animation-iteration-count: infinite; 
}
	.Logo-parte2 img{
		-webkit-animation: amination2 5s;
		-moz-animation: amination2 5s;
		-ms-animation: amination2 5s;
		-o-animation: amination2 5s;
		animation: amination2 5s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		animation-iteration-count: infinite; 
	}
	.Logo-parte3 img{
		-webkit-animation: amination3 5s;
		-moz-animation: amination3 5s;
		-ms-animation: amination3 5s;
		-o-animation: amination3 5s;
		animation: amination3 5s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		animation-iteration-count: infinite; 
    }
	.Logo-parteB img{
}
	

.home-banner, .home-img {
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
}

.home-banner {
overflow: hidden;
z-index: -1;
}
.home-img-src {
background-image: url(../img/milkyway1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
height: 100%;
}
.home-img-textura {
background-position: center center;
height: 100%;
z-index: 2;
}
section{
	background: red;
	width: 100%;
	height: 200px;
}
.Titulos{
	
}
