
@import "normalize.styl"
@import "nib"
@import "nib/vendor"


vendor-prefixes = o ms moz webkit official
azul = #078CD3
rojo = #FF1800
verde = #00E232
amarillo = #FF8B00



@keyframes poro1
	0%
		top -66% 
		left 10%
	25%
		top -20% 
		left 101%
	50%
		top -20% 
		left -1%
	75%
		top -55% 
		left 40%
	100%
		top -66% 
		left 10%
		
@keyframes poro2
	0%
		top -66% 
		left 101%
	25%
		top -60% 
		left 5%
	50%
		top -30% 
		left 50%
	75%
		top -25% 
		left 40%
	100%
		top -66% 
		left 101%

@keyframes poro3
	0%
		top -66% 
		left 50%
	25%
		top -30% 
		left -1%
	50%
		top -40% 
		left 101%
	75%
		top -25% 
		left 40%
	100%
		top -66% 
		left 50%
		
@keyframes poro4
	0%
		top -30% 
		left 50%
	25%
		top -66% 
		left 90%
	50%
		top -40% 
		left 60%
	75%
		top -30% 
		left 100%
	100%
		top -30% 
		left 50%

@keyframes amination
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)
@keyframes amination2
	0%   
		transform rotate(0deg)
	100% 
		transform rotate(-360deg)
@keyframes amination3
	0%   
		transform rotate(0deg)
	100% 
		transform rotate(360deg)
@keyframes flechaAnimationP1
	0% 		
		transform rotate(0deg)
	20% 	
		transform rotate(10deg)
	40% 	
		transform rotate(0deg)
	60% 	
		transform rotate(-10deg)
	80% 	
		transform rotate(0deg)
	100% 	
		transform rotate(0deg)

@keyframes flechaAnimationP2
	from
		bottom 0
	to
		bottom 7px
		
.poritos
	width 10px
	height 10px
	top -66% 
	left 10%
	background-image url("../img/poritos.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position relative
	opacity .5

.p1
	animation-name poro1
	animation-duration: 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
.p2
	animation-name poro2
	animation-duration: 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

.p3
	animation-name poro3
	animation-duration: 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
.p4
	animation-name poro4
	animation-duration: 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;	

body
	background-color #f5f5f5
	color #2e2f33
	
.rocket-op
	font-size 3.5em 		
.arrow
	position  absolute
	bottom  0
	/* margin  0 auto */
	width  100%
	text-align  center
	animation flechaAnimationP2 1s linear 0s infinite alternate
	figure
		width 80%
		display inline-block
		animation flechaAnimationP1 5s 
		animation-iteration-count infinite 
		margin: 0
		img
			width 150px
			opacity 0.7
/*Cambios En Google*/
.Contenedor-logoPadre
	width 100%
	padding 5% 0 13% 0
	margin 0
	text-align center
		
.Contenedor-logoHijo
	display inline-block
	width 80%
	/* text-align center */
	padding 0% 5% 5% 5%
		
.Contenedor-logo
	display inline-block
	/* position relative */
	/* width 80% */
	/* position inherit */
	position absolute
	/* display block */
	width 80px
	height 76px
	top 0
	left 0
	z-index 1
.Contenedor-logo 
	figure
		position absolute
		width 100%
		height 100%
		margin: 0
.Contenedor-logo 
	figure 
		img
			width 100%
			height 100%
.Contenedor-titulo 
	h1
		font-size 3.2em
		color azul
		font-weight 300
		margin: 0;
		text-transform uppercase
	h2
		font-size: 2em;
		color: #fff;
		font-weight: normal;
		margin: 0;
		text-transform uppercase	
.contenedor-logos 
	display table
	width 100%
	height 50%
	max-width 40%
	margin 0 auto
.contenedor-itemlogos 
	display table-cell
	vertical-align middle
		
.Contenedor-logoImg

#Contenedor
body
html
.contenedor	 
	height 100%
				
.contenedorScroll 
	overflow-y scroll
	overflow-x hidden
	width 100%
	height 100%
	margin auto
	

#Contenedor
	.contenedorScroll 
		.contenidoScroll 
			width 100%
			height auto
.Contenedor-tema 
						
.Contenedor-logoTitulo
	font-size 5em
	color #fff
	margin 20px 0 0
	padding 0
	text-align center
header
	z-index 2
	margin 0
	width 100%
	
	z-index 1100
	padding 0.2em 0 0 0
	/* background: #070708; */
	margin 0 auto
	text-align center
.contenedor-head
	display inline-block
	position relative
	overflow hidden
	width 1010px
	height 75px
	overflow hidden
.Header 
	nav
		
		position absolute
		text-align right
		height 100%
		/* width: 100% */
		display inline-block
		right 0

	
.Fixed
	position fixed;
	background: linear-gradient(rgba(37, 37, 37, 1) , rgba(15, 15, 15, 0.71) )
	transform: translateY(-100%);
	transition: all 300ms ease-in-out;
.fixmenu-stick
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);

.Header 
	nav 
		ul 
			list-style none
			margin 0
			padding 0
			
			li 
				display inline-block
				margin 0
				a 	
					font-size 0.7em
					color #eff3f6
					display block
					margin 2em 1em
					text-decoration none
					-webkit-transition 0.3s
					-moz-transition 0.3s
					-ms-transition 0.3s
					-o-transition 0.3s
					-webkit-transition 0.3s
					-moz-transition 0.3s
					-o-transition 0.3s
					-ms-transition 0.3s
					transition 0.3s
					/* height: 33px; */
					/* line-height: 3; */
					font-weight bold
					text-transform uppercase
					padding: 5px 0;
			.current-link
				border-bottom: 2px solid azul;
				opacity: 0.9;

					

.Logo-parte1 
	img
		animation amination 5s linear
		animation-iteration-count infinite 

.Logo-parte2 
	img
		animation amination2 5s linear
		animation-iteration-count infinite 
	
.Logo-parte3 
	img
		animation amination3 5s linear
		animation-iteration-count infinite 
 
.home-banner
.home-img 
	height 100%
	width 100%
	position absolute
	top 0
	left 0
.home-banner 
	overflow hidden
	z-index -1

.home-img-src 
	background-image:url("../img/milkyway1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100%;
	background-attachment: fixed;


.home-img-textura 
	background-position center center
	height 100%
	z-index 2
	background: linear-gradient(rgba(6, 11, 39, 0.8),rgba(0,0,0,0));

.Contenedor-lema
	
	background-repeat no-repeat
	background-position center center
	background-size cover
	position relative
	width 100%
	
.modulo
	&::after
		content: " ";
		position: absolute;
		width: 100%;
		height: 10px;
		top: 0;
		display: block;
		background: linear-gradient(to bottom,rgba(0,0,0,.2) 0,transparent 6px,transparent 100%);
		z-index 1
		
					
	



.Lema
	position relative
	text-align center
	height 100%
	background: rgba(7, 140, 211, 0.85);
	color: rgb(239, 236, 236);
	&::before
		content: "";
		background-image: url("../img/darkspace.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		background-attachment: fixed;
	
	
		

.Text-lema 
	display inline-block
	padding 2% 0
	width 56%
	


.Text-lema 
	h2
		font-weight 400
	p
		font-weight 300
		font-style italic
	.cita
		font-style: italic;
		font-weight: 600;
		font-size 1.2em
		
		

.servicios
	overflow: hidden;
	color white
	position relative
	background-image:url("../img/darkspace.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	background-attachment: fixed;
	z-index -3
	&::after
		content ""
		background-position center center
		height 100%
		z-index -2
		background: linear-gradient(rgba(6, 11, 39, 0.8),rgba(0,0,0,0));
.serviciosp
	color white
	font-weight lighter
	margin-top 5%
	

.serviciosp
	&:hover
		cursor pointer
/// slides 
.device 
	width: 640px;
	height: 300px;
	padding: 30px 40px;
	border-radius: 20px;
	background: #111;
	border: 3px solid white;
	margin: 5px auto;
	position: relative;
	box-shadow: 0px 0px 5px #000;

.servicios
	font-size 0
	article
		padding-top: 5%;
	.description
		width: 100%;
		
		position: absolute;
		bottom: 0;
		margin: 0;
		/* padding: 68% 0; */
		background: black;
		transition all 0.5s ease-in-out 0s
		p
			padding 0 0.5em
				

.content-slide 
	padding: 20px;
	color: #fff;

.title
	font-size: 25px;
	margin-bottom: 10px;
.display-none
	display none

.section
	position: relative;
	width: 100%;
	height: 700px;
	background: black
.contenedor-servi
	position relative;
	overflow hidden
	text-align center	
.aniServicios
	font-size 16px
.desarrolloweb
	text-align: center;
	position: relative;	
	display: inline-block;
	width: 400px
	height 400px
	background-image:url("../img/fondoServicios3_gray.png");
	background-repeat: no-repeat
	background-position: center center
	background-size 100% 100%	
	transition all 1s ease-in-out 0s	
	&:hover
		cursor pointer
		background-image:url("../img/fondoServicios3.png");
	&:hover .description
		background-color rojo
		
			
.branding
	text-align: center;
	position: relative;
	display: inline-block;
	width: 400px
	height 400px
	background-image: url("../img/ImgServiciosBranding2_gray.png");	
	background-repeat: no-repeat
	background-position: center center
	background-size 100% 100%
	transition all 1s ease-in-out 0s
	&:hover
		cursor pointer
		background-image: url("../img/ImgServiciosBranding2.png");			
	&:hover .description
		background-color verde
.posi
	text-align: center;
	position: relative;	
	display: inline-block;
	width: 400px
	height 400px
	background-image:url("../img/fondoServicios4_gray.png");
	background-repeat: no-repeat
	background-position: center center
	background-size 100% 100%	
	transition all 1s ease-in-out 0s
	&:hover
		cursor pointer
		background-image:url("../img/fondoServicios4.png");
	&:hover .description
		background-color amarillo
.boton-land
	border: 2px solid white;
	padding: 0.5em 0.8em;
	color: #FFF;
	display: inline-block;
	margin-top 2em
	font-weight: normal;
	font-size 0.8em
	text-decoration: none;
	border-radius .4em
	transition: all 0.2s ease-in-out 0s;
	&:hover
		background: white;
		color: #555459 !important;
		text-decoration: none;
				
				
.center
	text-align center		
.text-right
	text-align right
.light	
	font-weight lighters	
.titulo-logo
	position: absolute;
	left 4em
	top: 10px;
	width: 103px;
	img
		width 100%
		height 100%
.menu-movil
	display none
.Menu
	display block !important			
	

	
@media screen and (max-width:1200px)

	.Titulos
		display inline-block
		top 6.5em
		position relative
		
@media screen and (max-width:1030px)
	.contenedor-head
		width: 100%;
	.servicios
		article
			padding-top: 10%;
		p
			padding: 0 10%;	

@media screen and (max-width:800px)
	body
		font-size 16px
	.menu-movil
		display: inline-block;
		position: relative;
		color: #fff;
		float: right;
		right: 4%;
		/* width: 50px; */
		/* height: 50px; */
		top: 8px;
		.col
			height: 3px;
			width: 26px;
			margin-bottom: 7px;
			background-color: #fff;
			display: block;	

	.Menu
		display none !important	

	.Contenedor-logoPadre
		padding 5% 0 0 0

	.Contenedor-logoHijo
		display: inline-block;
		width: 100%;
		padding: 0;


	.Contenedor-titulo 
		h1 
			font-size 2.5em
		h2
			font-size 1.5em
		

	.Contenedor-logoImg 
		img
			width 150px

	.arrow 
		figure 
			img
				width 100px

	.servicios
		font-size 1em

	.Contenedor-logo
		width 53.5px
		height 50px
		
	.serviciosp
		font-size: 13px;
	.Text-lema
		padding: 7% 7%;
		width: auto;
	.titulo-logo
		position: absolute;
		left: 2.5em
		top: 4px;
		img
			width: 78px;
			
	.desarrolloweb
		background-image -webkit-linear-gradient(60deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/fondoServicios3.png")
		background-image -o-linear-gradient(60deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/fondoServicios3.png")
		background-image linear-gradient(150deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/fondoServicios3.png")
		background-repeat: no-repeat
		background-position: center center
		background-size 100% 100%
		.description
			background rojo
	.branding
		background-image -webkit-linear-gradient(60deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/ImgServiciosBranding2.png")
		background-image -o-linear-gradient(60deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/ImgServiciosBranding2.png")
		background-image linear-gradient(150deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/ImgServiciosBranding2.png")
		background-repeat: no-repeat
		background-position: center center
		background-size 100% 100%
		.description
			background verde
	.posi
		background-image -webkit-linear-gradient(60deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/fondoServicios4.png")
		background-image -o-linear-gradient(60deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/fondoServicios4.png")
		background-image linear-gradient(150deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/fondoServicios4.png")	
		background-repeat: no-repeat
		background-position: center center
		background-size 100% 100%
		.description
			background amarillo
			
	.desarrolloweb
	.branding
	.posi
		display block
		width 100%
		height 400px
		p
			width: 100%;
			position: relative;
			padding:0;
			display block !important
			background none
			
	.contenedor-head
		height 50px
		

			
					
		
			
				
	
	
		
	





	

 
			 
		
