
@import "normalize.styl"
@import "nib"
@import "nib/vendor"


vendor-prefixes = o ms moz webkit official


@keyframes amination
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)
@keyframes amination2
	0%   
		transform rotate(0deg)
	100% 
		transform rotate(-360deg)
@keyframes amination3
	0%   
		transform rotate(0deg)
	100% 
		transform rotate(360deg)
@keyframes flechaAnimationP1
	0% 		
		transform rotate(0deg)
	20% 	
		transform rotate(10deg)
	40% 	
		transform rotate(0deg)
	60% 	
		transform rotate(-10deg)
	80% 	
		transform rotate(0deg)
	100% 	
		transform rotate(0deg)

@keyframes flechaAnimationP2
	from
		bottom 0
	to
		bottom 7px

body
	background-color #f5f5f5
	color #2e2f33
.rocket-op
	font-size 3.5em 		
.arrow
	position  absolute
	bottom  0
	/* margin  0 auto */
	width  100%
	text-align  center
	animation flechaAnimationP2 1s linear 0s infinite alternate
	figure
		width 80%
		display inline-block
		animation flechaAnimationP1 5s 
		animation-iteration-count infinite 
		margin: 0
		img
			width 150px
			opacity 0.7
/*Cambios En Google*/
.Contenedor-logoPadre
	width 100%
	padding 5% 0 13% 0
	margin 0
	text-align center
		
.Contenedor-logoHijo
	display inline-block
	width 80%
	/* text-align center */
	padding 0% 5% 5% 5%
		
.Contenedor-logo
	display inline-block
	/* position relative */
	/* width 80% */
	/* position inherit */
	position absolute
	/* display block */
	width 107px
	height 100px
	top 0
	left 0
	z-index 1
.Contenedor-logo 
	figure
		position absolute
		width 100%
		height 100%
		margin: 0
.Contenedor-logo 
	figure 
		img
			width 100%
			height 100%
.Contenedor-titulo 
	h1
		font-size 3.2em
		color white
		font-weight lighter
		margin: 0;
		text-transform uppercase
	h2
		font-size: 2em;
		color: #fff;
		font-weight: normal;
		margin: 0;
		text-transform uppercase	
.contenedor-logos 
	display table
	width 100%
	height 50%
	max-width 40%
	margin 0 auto
.contenedor-itemlogos 
	display table-cell
	vertical-align middle
		
.Contenedor-logoImg

#Contenedor
body
html
.contenedor	 
	height 100%
				
.contenedorScroll 
	overflow-y scroll
	overflow-x hidden
	width 100%
	height 100%
	margin auto
	

#Contenedor
	.contenedorScroll 
		.contenidoScroll 
			width 100%
			height auto
.Contenedor-tema 
						
.Contenedor-logoTitulo
	font-size 5em
	color #fff
	margin 20px 0 0
	padding 0
	text-align center
header
	margin 0
	width 100%
	height 89px
	z-index 1100
	padding 15px 0
	/* background: #070708; */
	margin 0 auto
	text-align center
.contenedor-head
	display inline-block
	position relative
	overflow hidden
	width 1010px
	height 102px
	overflow hidden
.Header 
	nav
		
		position absolute
		text-align right
		height 100%
		/* width: 100% */
		display inline-block
		right 0
	
.Header 
	nav 
		ul 
			list-style none
			margin 0
			padding 0
			
			li 
				display inline-block
				margin 0
				a 	
					font-size 0.8em
					color #fff
					display block
					margin 2.5em 1em
					text-decoration none
					-webkit-transition 0.3s
					-moz-transition 0.3s
					-ms-transition 0.3s
					-o-transition 0.3s
					-webkit-transition 0.3s
					-moz-transition 0.3s
					-o-transition 0.3s
					-ms-transition 0.3s
					transition 0.3s
					/* height: 33px; */
					/* line-height: 3; */
					font-weight bold
					text-transform uppercase
					

.Logo-parte1 
	img
		animation amination 5s linear
		animation-iteration-count infinite 

.Logo-parte2 
	img
		animation amination2 5s linear
		animation-iteration-count infinite 
	
.Logo-parte3 
	img
		animation amination3 5s linear
		animation-iteration-count infinite 
 
.home-banner
.home-img 
	height 100%
	width 100%
	position absolute
	top 0
	left 0
.home-banner 
	overflow hidden
	z-index -1

.home-img-src 
	background-image:url("../img/milkyway5.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100%;
	background-attachment: fixed;


.home-img-textura 
	background-position center center
	height 100%
	z-index 2

.Contenedor-lema
	
	background-repeat no-repeat
	background-position center center
	background-size cover
	position relative
	width 100%
	
.modulo
	&::after
		content: " ";
		position: absolute;
		width: 100%;
		height: 10px;
		top: 0;
		display: block;
		background: linear-gradient(to bottom,rgba(0,0,0,.2) 0,transparent 6px,transparent 100%);
		z-index 1
		
					
	



.Lema
	position relative
	text-align center
	transition: all 0.25s ease-in-out 0s;
	height 100%
	&:hover
		background: #10234D;
		color white
		cursor pointer
	h2
		font-size: 3em;
		font-weight: 900;
	p
		font-size:1.3em;
		font-weight: 100;
			
		

.Text-lema 
	display inline-block
	padding 7% 0
	width 56%
	


.Text-lema 
	h2
		margin 0
		font-weight normal

.Text-lema 
	h3
		font-weight lighter
		color #565a5c
		float right
		
.servicios
	overflow: hidden;
	height:100%;
	color white
	position relative
.serviciosp
	color white
	font-weight lighter
	margin-top 5%
	

.serviciosp
	&:hover
		cursor pointer
/// slides 
.device 
	width: 640px;
	height: 300px;
	padding: 30px 40px;
	border-radius: 20px;
	background: #111;
	border: 3px solid white;
	margin: 5px auto;
	position: relative;
	box-shadow: 0px 0px 5px #000;

.arrow-left 
	background: url("../img/arrows.png") no-repeat left top;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -15px;
	width: 17px;
	height: 30px;
	z-index: 2

.arrow-right 
	background: url("../img/arrows.png") no-repeat left bottom;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
	width: 17px;
	height: 30px;
	z-index: 2


.swiper-container
	background black 
	
		
		

.content-slide 
	padding: 20px;
	color: #fff;

.title
	font-size: 25px;
	margin-bottom: 10px;

.pagination 
	position: absolute;
	left: 0;
	text-align: center;
	bottom:5px;
	width: 100%;
	z-index: 1;

.swiper-pagination-switch 
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #999;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3px;
	cursor: pointer;

.swiper-active-switch 
	background: #fff;

.section
	position: relative;
	width: 100%;
	height: 700px;
	background: black
.contenedor
	position relative;	
.desarrolloweb
	text-align: center;
	position: relative;	
	&:before
		content:''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	
		z-index: -1
		background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%), url("../img/fondoServicios3.png");
		background-repeat: no-repeat
		background-position: center center
		background-size 100% 100%
.branding
	text-align: center;
	position: relative;	
	&:before
		content:''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	
		z-index: -1
		background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/ImgServiciosBranding2.png");
		background-repeat: no-repeat
		background-position: center center
		background-size 100% 100%
.posi
	text-align: center;
	position: relative;	
	&:before
		content:''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		
		z-index: -1
		background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.53) 30%, rgba(0, 0, 0, 0.44) 70%),  url("../img/fondoServicios4.png");
		background-repeat: no-repeat
		background-position: center center
		background-size 100% 100%
.boton-land
	border: 2px solid white;
	padding: 0.5em 0.8em;
	color: #FFF;
	display: inline-block;
	margin-top 2em
	font-weight: normal;
	font-size 0.8em
	text-decoration: none;
	border-radius .4em
	transition: all 0.2s ease-in-out 0s;
	&:hover
		background: white;
		color: #555459 !important;
		text-decoration: none;
				
				
.center
	text-align center		
.text-right
	text-align right
.light	
	font-weight lighters	
.titulo-logo
	position: absolute;
	left: 100px;
	top: 10px;
.menu-movil
	display none
.Menu
	display block !important			
	

	
@media screen and (max-width:1200px)

	.Titulos
		display inline-block
		top 6.5em
		position relative
		
@media screen and (max-width:1030px)
	.contenedor-head
		width: 100%;	

@media screen and (max-width:800px)
	body
		font-size 16px
	.menu-movil
		display: inline-block;
		position: relative;
		color: #fff;
		float: right;
		right: 4%;
		/* width: 50px; */
		/* height: 50px; */
		top: 8px;
		.col
			height: 3px;
			width: 26px;
			margin-bottom: 7px;
			background-color: #fff;
			display: block;	

	.Menu
		display none !important	

	.Contenedor-logoPadre
		padding 5% 0 0 0

	.Contenedor-logoHijo
		display: inline-block;
		width: 100%;
		padding: 0;


	.Contenedor-titulo 
		h1 
			font-size 2.5em
		h2
			font-size 1.5em
		

	.Contenedor-logoImg 
		img
			width 150px

	.arrow 
		figure 
			img
				width 100px

	.servicios
		font-size 1em

	.Contenedor-logo
		width 53.5px
		height 50px
		
	.serviciosp
		font-size: 13px;
	.Text-lema
		padding: 7% 7%;
		width: auto;
	.titulo-logo
		position: absolute;
		left: 52px;
		top: 4px;
		img
			width: 78px;
			
				
	
	
		
	





	

 
			 
		
